*.iml
.gradle
/Client/local.properties
/Client/.idea/caches
/Client/.idea/libraries
/Client/.idea/modules.xml
/Client/.idea/workspace.xml
/Client/.idea/navEditor.xml
/Client/.idea/assetWizardSettings.xml
/Client/.DS_Store
/Client/build
/Client/captures
/Client/.externalNativeBuild
/Client/.cxx
local.properties
.idea/workspace.xml
.idea/vcs.xml
.idea/runConfigurations.xml
.idea/modules.xml
.idea/gradle.xml
.idea/codeStyles/Project.xml
Client/app/google-services.json
Client/app/debug/app-debug.apk

Client/app/debug/output.json

Client/app/release/app-release.apk

Client/app/release/output.json
