*.iml
.gradle
/Client/local.properties
/Client/.idea/caches
/Client/.idea/libraries
/Client/.idea/modules.xml
/Client/.idea/workspace.xml
/Client/.idea/navEditor.xml
/Client/.idea/assetWizardSettings.xml
/Client/.DS_Store
/Client/build
/Client/captures
/Client/.externalNativeBuild
/Client/.cxx

.idea/codeStyles/Project.xml

.idea/gradle.xml

.idea/modules.xml

.idea/runConfigurations.xml

.idea/vcs.xml

.idea/workspace.xml

Client/app/google-services.json

local.properties
